/*index.html*/
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Body for index.html*/

body {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: rgba(36, 37, 42, 1);
}

/* class for index  nav*/
.active {
    border: 5px solid #fff;
}

/* id for h1 (future modern classics)*/
#logo {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: size 280%;
}


/* Menu */

nav {
    position: fixed;
    overflow: hidden;
    letter-spacing: 4px;
    background-color: black;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 5px 0 ;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin:0 2px ;
    padding: 0;
}

nav a {
   
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
    text-align: center;
    padding: 5px 5px;
    color: white;
}

nav a:hover {
    background: blueviolet;
    color :chartreuse;
}

/*hero image*/

#hero-image {
    height: 800px;
    width: 100%;
    background: url('../images/civic-wallpaper.jpg') no-repeat center center;
    background-color: silver;
}

/* horizontal rule for intro text*/

.intro-hr {
    width: 100%;
}

/* intro-image styling*/
#intro-img {
    background-image: url('../images/hero-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 60%;
    height: 450px;
    float: right;
}

.intro-about-container {
    width: 40%;
    background: skyblue;
    height: 150px;

}

.intro-about-container p {
    color: white;
    text-align: left;

}





/*headings and */

h1,
h2 {
    font-family: Mate+sc, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
    margin: 0;
}

/*club-ethos*/
#why-classic-one {
    height: 600px;
    background: slategray;
    margin: 0;
}

#left-about-one {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about-one {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about-one {
    width: 33%;
    margin: 0 auto;
}

#welcome-one {
    text-align: center;
    margin: 0;
    font-size: 30px;
}

#circle-container-one {
    width: 425px;
    height: 390px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg-one {
    background: url('../images/honda-k20a2-engine-gearbox-swap-package.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

hr {
    width: 100%;
    margin: 5px;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos>img {
    width: 100%;
}

/*Footer */

footer {
    height: 150px;
}

.social-icons {
    text-align: center;
}

.social-icons>li {
    display: inline;
}

.social-icons i {
    font-size: 250%;
    margin: 1%;
    padding: 5%;
}