@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: rgba(36, 37, 42, 1);
}

/*headings and logo*/
h1,
h2 {
    font-family: Mate+sc, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:black;
}


#logo {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: size 280%;

}

/*nav links*/
#menu {
    position: absolute;
    font-size: 110%;
    letter-spacing: 4px;
    padding-top: 25px;
    margin-left: 15px;
    color: #fff;
}


#menu li {

    list-style-type: none;
    padding-top: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border: 5px solid #000;
}

.active {
    border: 5px solid #000;
}

/*hero image*/
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    border: 2px solid black;
    background-color: rgb(230, 15, 15);
}

/*An introduction to the civic type r 2001-2006*/
#engine {
    height: 600px;
    width: 100%;
    background: url('../images/civic-type-r-ep3-engine-bay.for\ wireframe.jpg') no-repeat center center;
    background-color: #fff;
    
}
#interior {
    height:600px;
    width: 100%;
    background: url('../images/ep3\ interior.\ for\ wireframe.jpg') no-repeat center center;
    background-color:#fff;
}
#exterior{
    height: 600px;
    width:100%;
    background: url('../images/honda_civic_ep3_ctr_front_three_quarter_\ Grey\ Wireframe.jpg') no-repeat center center;
    background-color:rgb(230, 15, 15);
}
.engine{
    text-align: center;
}
.intro{
    text-align: center;
    text-transform: uppercase;
}