/*index.html*/
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

#intro-hr-left {
    width: 60%;
}

#intro-hr-center {
    margin-left: 14%;
    width: 70%;
}

#intro-hr-right {
    margin-left: 25%;
    width: 75%;

}

.intro-about-container {
    width: 33%;
}

.intro-about p {

    text-align: center;
}

#intro-box-left {
    float: left;

}

#intro-box-center {
    margin: auto;
    display: inline-block;


}

#intro-box-right {
    float: right;
}


body {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: rgba(36, 37, 42, 1);
}

#press-h2 {
    text-align: center;
}

#public-h2 {
    text-align: right;
}

/*headings and logo*/
h1,
h2 {
    font-family: Mate+sc, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
}


#logo {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: size 280%;

}

/*nav links*/
#menu {
    position: fixed;
    font-size: 110%;
    letter-spacing: 4px;
    padding-top: 25px;
    margin-left: 15px;
    color: #000;
}


#menu li {

    list-style-type: none;
    padding-top: 20px;
}

#menu a {
    text-decoration: none;

}

#menu a:hover {
    border: 5px solid #000;
}

.active {
    border: 5px solid #000;
}

/*hero image*/
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
}



    /*club-ethos*/
    #why-classic-one {
        height: 600px;
    }



    #left-about-one {
        padding-top: 30px;
        width: 33%;
        float: left;
    }



    #right-about-one {
        padding-top: 30px;
        width: 33%;
        float: right;
    }



    #center-about-one {
        width: 33%;
        margin: 0 auto;
    }



    #welcome-one {
        text-align: center;
        margin: 20px 0;
        font-size: 50px;
    }



    #circle-container-one {
        width: 300px;
        height: 300px;
        padding: 20px;
        border: 2px solid #f00;
        border-radius: 50%;
        margin: 0 auto;
    }



    #circle-cover-bg-one {
        background: url('../images/K20A_honda.jpg') no-repeat center center;
        height: 100%;
        border-radius: 50%;
    }



    hr {
        border-top: 1px solid #3a3a3a;
        width: 100%;
        margin: 5px;

    }

    .left-about-heading {
        width: 60%;
        float: right;
        line-height: 20px;
        clear: both;
        margin-bottom: 50px;
    }

    .right-about-heading {
        width: 60%;
        float: left;
        line-height: 20px;
        clear: both;
        margin-bottom: 50px;
    }

    /*club ethos2*/

    #why-classic-two {
        height: 600px;
    }

    #left-about-two {
        padding-top: 30px;
        width: 33%;
        float: left;
    }

    #right-about-two {
        padding-top: 30px;
        width: 33%;
        float: right;
    }

    #center-about-two {
        width: 33%;
        margin: 0 auto;
    }

    #circle-container-two {
        width: 300px;
        height: 300px;
        padding: 20px;
        border: 2px solid #f00;
        border-radius: 50%;
        margin: 0 auto;
    }

    #circle-cover-bg-two {
        background: url('../images/Ep3-gearlever.jpg') no-repeat center center;
        height: 100%;
        border-radius: 50%;

    }

    /*Expect to pay */
    #expect-to-pay h2 {
        font-size: 50px;
        text-align: center;
    }

    #expect-to-pay {
        font-size: 22px;
    }

    table {
        width: 100%;
    }

    /*vote.html for your next model to be covered inputand image*/
    /*car model img size ie; golf focus clio */
    /*h1*/
    h1 {
        text-align: center;
    }

    /*div container*/
    .big-box {
        border: 1px solid #000;
        width: 450px;
        height: 300px;
    }

    /*size div for golf*/
    .car-model {
        height: 300px;
        width: 300px;
        position: relative;
    }

    /*img golf etc..*/
    .car-model img {
        height: 300px;
        width: 300px;
    }

    /*div for power text*/
    .box-two {
        position: relative;
        top: -300px;
        left: -300px;

    }

    /*paragraph power text in div box two */
    .box-two p {
        position: relative;


    }

    /*div for flag*/
    .box-three {
        position: relative;
        top: -600px;
        left: -300px;
        height: 150px;
        width: 150px;
    }

    /*flag type id*/
    #german-flag {

        height: 150px;
        width: 150px;


    }

    #american {
        background: url('./images/usflag.png') no-repeat;
        background-size: contain;
    }


    /*checkbox size*/
    input.size {

        transform: scale(2);
    }


    /*power text 200hp etc..*/
    .power-spec {
        text-align: right;
    }

    /*checkbox label*/
    .label-for-checkbox {
        text-align: center;
    }

    /*Footer */
    footer{
        height: 150px;
    }
    .social-icons{
        text-align: center;
    }
    .social-icons >li {
        display: inline;
    }
    .social-icons i {
        font-size: 250%;
        margin: 1%;
        padding: 5%;
    }